.navbar_extra_footer{display:none;}

#site-navigation div.navbar_extra_footer{display:none;}

div.cell_output table.dataframe{
  font-size:0.9em !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}